body {
    background-color: #f8f9fa; 
}

.card {
    margin: 0 auto; 
    max-width: 400px; 
    border-radius: 10px; 
}

.bigCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.digit {
    margin: 0 5px; 
    font-weight: bold; 
}

button {
    width: 120px;
}

  